---
import PageLayout from "../components/PageLayout.astro";
---

<PageLayout pageTitle="About Us">
  <h1>About us</h1>
  <p>
    We are a group of volunteers working to bring modern web development to
    fandom and other online communities.
  </p>
</PageLayout>
