---
import PageLayout from "../components/PageLayout.astro";
import bobawip from "../images/bobawip.png";
---

<PageLayout pageTitle="Our Characters">
  <h1>Our characters</h1>
  <img src={bobawip} />
  <div>Under Construction</div>
</PageLayout>

<style>
  img {
    display: block;
    max-width: 100%;
  }
  div {
    text-align: center;
    font-size: x-large;
  }
</style>
