---
import PageLayout from "../components/PageLayout.astro";
---

<PageLayout>
  <a
    href="https://www.kickstarter.com/projects/essential-randomness/the-fujoshi-guide-to-web-development"
  >
    <figure class="roster">
      <img
        src="./images/roster-with-names.png"
        alt="The character roster for The Fujoshi Guide to Web Development. The title is located near the bottom of the graphic in aqua, orange, and pink text surrounded by a lavender bubble. Pink hearts bubble up from the word ‘web’ in the title. The word ‘to’ is framed by a terminal. On the left side of the title is a stylized computer screen showing an image of Boba-tan, the BobaBoard Mascot, wearing a raccoon kigurumi, glasses, and waving in greeting. The background shows six characters that represent from left to right: Git, GitHub, Terminal, CSS, HTML, and ARIA. The background colors form a rainbow."
      />
    </figure>
  </a>
  <h1>The project</h1>
  <p>
    The Fujoshi Guide to Web Development is a series of zines/books featuring
    anthropomorphized versions of programming languages and concepts (aka
    gijinka), each one engineered from the ground up to cater to
    transformational fandom (that is, people who create fanfictions, fanarts,
    meta, and much more), and their sensibilities and interests.
  </p>
  <a
    class="call-to-action"
    href="https://www.kickstarter.com/projects/essential-randomness/the-fujoshi-guide-to-web-development"
    >Back us on
    <img src="./images/kickstarter-logo-full.png" alt="Kickstarter logo" /></a
  >
</PageLayout>
