---
import PageLayout from "../layouts/PageLayout.astro";
import SalesSignup from "../components/SalesSignup.astro";
import PreviewStack from "../components/PreviewStack.astro";
import GitIntro from "../images/git-intro.png";
import GitCoverFront from "../images/git-cover-front.png";
import GitCoverBack from "../images/git-cover-back.png";
import GitScenario from "../images/git-scenario.png";
import ComingSoon from "../images/coming-soon.png";

const gitPreviews = [
  { src: GitCoverFront, alt: "Issue 1 cover" },
  { src: GitIntro, alt: "Git's introduction from the guide" },
  { src: GitScenario, alt: "Scenario page from Issue 1" },
  { src: GitCoverBack, alt: "Issue 1 back cover" },
];
const comingSoon = [
  { src: ComingSoon, alt: "Cover with coming soon written on top" },
];
---

<PageLayout multiLineHeader>
  <div>
    <p>
      <em
        >The Fujoshi Guide to Web Development is structured in issues with a
        single learning focus, which are then collected into volumes</em
      >–similarly to a manga or comic. Featured in our first Kickstarter, Volume
      0 collects our inaugural issues introducing Git, GitHub and open source
      development.
    </p>
  </div>
  <div class="sales">
    <h2>Want your own copy?</h2>
    <SalesSignup tag="volume-0" />
  </div>
  <article class="issue">
    <h2 id="issue-1"><a href="#issue-1">Issue 1 – Using Git locally</a></h2>
    <div>
      <PreviewStack images={gitPreviews} />
      <div class="content">
        <section>
          <h3>In this Issue</h3>
          <p>
            Boba-tan learns how Git can help make tracking your code changes and
            sorting through different versions of a codebase a breeze–no matter
            the size of your wardrobe!
          </p>
        </section>

        <section>
          <h3>Topics</h3>
          <ul>
            <li>What is version control (Git)?</li>
            <li>The commit cycle</li>
            <li>Navigating and manipulating code history</li>
          </ul>
        </section>

        <section>
          <h3>The scenario</h3>
          <p>
            Meet Git and learn about his most fundamental commands through a
            dress-up game involving his friends: CSS, HTML, ARIA, and Boba-tan.
          </p>
        </section>

        <section>
          <h3>Current status</h3>
          <p>
            <span class="badge">
              🎉 Digitally Released to Kickstarter Backers! 🎉</span
            >
          </p>

          <ul>
            <li>Public release coming 2026</li>
            <li>
              Early access sales for <a href="https://www.fujocoded.com"
                >FujoCoded</a
              >'s special events
            </li>
          </ul>
        </section>
      </div>
    </div>
  </article>

  <article class="issue">
    <h2 id="issue-2">
      <a href="#issue-2">Issue 2 – Using Git(Hub) in the cloud</a>
    </h2>
    <div>
      <PreviewStack images={comingSoon} disabled />
      <div class="content">
        <section>
          <h3>In this Issue</h3>
          <p>
            When Boba-tan's laptop breaks in the middle of her latest project,
            Git and GitHub team up to save the day by combining their powers to
            back up code to the cloud, help her continue working, and prevent
            future disasters.
          </p>
        </section>

        <section>
          <h3>Topics</h3>
          <ul>
            <li>Uploading code to remotes</li>
            <li>Cloning a repository</li>
            <li>Creating branches</li>
            <li>Merging changes</li>
          </ul>
        </section>

        <section>
          <h3>The scenario</h3>
          <p>
            Explore how to avoid losing your code and work on changes in
            parallel by using the combined power of Git and GitHub to recover
            and improve Boba-tan's lost Blorbo Shrine.
          </p>
        </section>

        <section>
          <h3>Current status</h3>
          <ul>
            <li>Beta #1: Done 🎉</li>
            <li>Beta #2: Liveblog on Socials 👀</li>
          </ul>
        </section>
      </div>
    </div>
  </article>

  <article class="issue">
    <h2 id="issue-3">
      <a href="#issue-3">Issue 3 – Open Source Collaboration</a>
    </h2>
    <div>
      <PreviewStack images={comingSoon} disabled />
      <div class="content">
        <section>
          <h3>In this Issue</h3>
          <p>Work in progress, check back later</p>
        </section>

        <section>
          <h3>Topics</h3>
          <ul>
            <li>Forking repositories</li>
            <li>The pull request process</li>
            <li>Opening issues</li>
            <li>…and more</li>
          </ul>
        </section>

        <section>
          <h3>The scenario</h3>
          <p>Work in progress, check back later</p>
        </section>

        <section>
          <h3>Current status</h3>
          <p>Brainstorming content and scenario</p>
        </section>
      </div>
    </div>
  </article>
  <style>
    article {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-block: 24px;
    }

    .issue {
      margin-block: 28px;
    }

    .issue h2 {
      margin-bottom: 24px;
    }

    .issue > div {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 28px;
      align-items: start;
    }

    @media (max-width: 700px) {
      .issue > div {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .content h3 {
      text-transform: none;
      font-size: 1rem;
      margin-top: 4px;
    }

    .content > section {
      display: flex;
      flex-direction: column;
      gap: 4px;
      line-height: 1.5;
    }

    .badge {
      border: 2px dashed currentColor;
      background-color: white;
      display: inline-block;
      font-weight: 800;
      padding: 10px 16px;
      padding-top: 12px;
      margin-left: 15px;
      margin-bottom: 10px;
      border-radius: 12px;
      display: inline-flex;
    }

    ul {
      padding-left: 20px;
      margin: 6px 0 0 0;
    }

    li {
      margin: 0;
      padding: 0;
      line-height: 1.4;
    }

    .sales {
      background-color: white;
      padding: 24px 40px;
      border-radius: 16px;
      box-shadow: 6px 6px 0px 0px var(--fujo-red);
      border: 2px solid var(--terminal-dark);
      margin-block: 24px;
    }

    h2 a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
      font-family: inherit;
    }

    h2 a:hover {
      color: inherit;
      text-decoration: 3px underline wavy;
      text-underline-offset: 5px;
    }
  </style>
</PageLayout>
