---
import gitHubLogo from "../images/github-mark.png"
const url = Astro.url.pathname;
---

<nav>
  <ul>
    <li class:list={{ current: url === "/" }}>
      <a href="/">Home</a>
    </li>
    <li class:list={{ current: url === "/characters" }}>
      <a href="/characters">Characters</a>
    </li>
    <li class:list={{ current: url === "/team" }}>
      <a href="/team">Team</a>
    </li>
    <li class="with-image">
      <a href="https://github.com/fujowebdev/fujowebdev/">
        <img src={gitHubLogo.src} alt="The GitHub logo" />
        <span>GitHub</span>
      </a>
    </li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--text-color-base);
    font-weight: 100;
    transition: 200ms;
  }
  a:hover {
    color: var(--fujo-red);
    text-decoration: var(--fujo-red) underline wavy;
  }
  .current,
  .current a {
    color: var(--fujo-red);
  }
  .current a:hover {
    text-decoration-color: var(--fujo-red);
  }
  nav {
    margin: 20px;
    font-size: 1.4rem;
  }

  .with-image a {
    display: flex;
    align-items: center;
  }
  .with-image img {
    height: 36px;
  }

  .with-image span {
    display: none;
  }

  .with-image a:hover {
    filter: invert(61%) sepia(47%) saturate(2070%) hue-rotate(315deg) brightness(104%) contrast(108%);
  }
</style>
