---
import { Icon } from "astro-icon/components";

const url = Astro.url.pathname;
---

<nav>
  <ul>
    <li class:list={{ current: url === "/" }}>
      <a href="/">Home</a>
    </li>
    <li class:list={{ current: url.startsWith("/characters") }}>
      <a href="/characters">Characters</a>
    </li>
    <li class:list={{ current: url.startsWith("/volume-0") }}>
      <a href="/volume-0">Volume 0</a>
    </li>
    <li class:list={{ current: url.startsWith("/team") }}>
      <a href="/team">Team</a>
    </li>
    <li>
      <a
        href="https://www.kickstarter.com/projects/essential-randomness/the-fujoshi-guide-to-web-development/posts"
        >Updates<Icon name="pixelarticons:external-link" class="external" /></a
      >
    </li>
    <li>
      <a href="https://github.com/fujowebdev/fujowebdev/">
        <Icon
          name="fa6-brands:github"
          title="GitHub"
          style="font-size: 1.75rem !important;"
        />
      </a>
    </li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  @media (max-width: 650px) {
    ul {
      flex-direction: column;
    }
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--text-color-base);
    font-weight: 100;
    transition: 200ms;
  }
  a:hover {
    color: var(--fujo-red);
    text-decoration: var(--fujo-red) underline wavy;
  }
  .current,
  .current a {
    color: var(--fujo-red);
  }
  .current a:hover {
    text-decoration-color: var(--fujo-red);
  }
  nav {
    margin: 20px;
    font-size: 1.4rem;
  }

  .external {
    font-size: 1.25rem;
    line-height: 1rem;
    opacity: 0.65;
    padding-left: 2px;
    vertical-align: baseline;
  }
</style>
