---
import Header from "../components/Header.astro";

interface Props {
  pageTitle?: string;
  multiLineHeader?: boolean;
}

const props = Astro.props;

let pageTitle = "Fully funded on Kickstarter";
if (props.pageTitle) {
  pageTitle = props.pageTitle;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      The Fujoshi Guide to Web Development — {pageTitle}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/exd6spk.css" />
    <style is:global>
      /* Handmade reset */
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /* font family here because otherwise inputs don't inherit */
        font-family: "nunito", sans-serif;
      }
      body {
        --body-width: 750px;
        --fujo-cream: #f7eedf;
        --fujo-purple: #c29fc9;
        --fujo-red: #ff7976;
        --fujo-pink: #f4a8ab;
        --fujo-light-blue: #bbf7dd;
        --terminal-dark: #464258;
        --kickstarter-green: #05ce78;
        --text-color-base: #56411e;
        --text-color-disabled: #d0c4af;
        background-color: var(--fujo-cream);
        color: var(--text-color-base);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 20px;
        padding-inline: 15px;
      }
      main {
        max-width: var(--body-width);
      }
      h1 {
        font-family: "freude", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--fujo-red);
        font-size: 4rem;
        text-align: center;
        margin-block-start: 3rem;
        margin-block-end: 1.5rem;
        text-shadow: -1px -1px 0 var(--terminal-dark),
          1px -1px 0 var(--terminal-dark), -1px 1px 0 var(--terminal-dark),
          1px 1px 0 var(--terminal-dark);
        filter: drop-shadow(3px 1px 0px var(--terminal-dark));
      }
      p {
        line-height: 1.4em;
        margin-top: 1rem;
      }
      code {
        font-family: monospace;
        color: var(--fujo-red);
      }
    </style>
  </head>
  <body>
    <Header multiLine={props.multiLineHeader} />
    <main>
      <slot />
    </main>
  </body>
</html>
