---
const props = Astro.props;
---

<div class="signup">
  <p>Sign up here to be notified when the guide is available for purchase:</p>
  <form
    action={`https://buttondown.com/api/emails/embed-subscribe/fujoguide`}
    method="post"
    target="popupwindow"
    onsubmit={`"window.open('https://buttondown.com/fujoguide', 'popupwindow')"`}
  >
    <input
      type="email"
      name="email"
      required
      placeholder="boba-tan@fujocoded.com"
      aria-label="Email"
    />
    <input type="submit" value="sign up" />
    <input type="hidden" value={props.tag} name="tag" />
  </form>
  <div class="thank-you">
    Your email has been added to our list. We look forward to sharing <em
      >The Fujoshi Guide to Web Development
    </em> with you!
  </div>
</div>

<style>
  .signup:not(.success) .thank-you {
    display: none;
  }
  .signup.success form,
  .signup.success p {
    display: none;
  }
  form {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
    --form-color: var(--terminal-dark);
    --radius: 10px;
    font-size: 1em;
  }
  input {
    height: 43px;
    font-family: sans-serif;
  }
  form:has(:focus) :where(input, button) {
    --form-color: var(--fujo-red);
  }
  input[type="email"] {
    width: 100%;
    padding: 7px 15px;
    border-radius: var(--radius) 0 0 var(--radius);
    border: 2px solid var(--form-color);
    border-right: 0;
    font-size: 15px;
    background-color: var(--fujo-cream);
  }
  input:focus-within {
    outline: none;
  }
  input[type="submit"] {
    width: 150px;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: 2px solid var(--form-color);
    background-color: var(--form-color);
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  input[type="submit"]:hover {
    cursor: pointer;
  }
</style>
