---
import { Icon } from "astro-icon/components";
---

<ul>
  <li>
    <a href="https://github.com/fujowebdev/fujowebdev/"
      ><Icon name="fa6-brands:github" title="GitHub" /></a
    >
  </li>
  <li>
    <a
      href="https://www.kickstarter.com/projects/essential-randomness/the-fujoshi-guide-to-web-development"
      ><Icon name="fa6-brands:kickstarter-k" title="Kickstarter" /></a
    >
  </li>
  <li>
    <a href="https://fujowebdev.tumblr.com/"
      ><Icon name="fa6-brands:tumblr" title="tumblr" /></a
    >
  </li>
  <li>
    <a href="https://twitter.com/fujowebdev"
      ><Icon name="fa6-brands:twitter" title="twitter" /></a
    >
  </li>
  <li>
    <a href="https://blorbo.social/@fujowebdev"
      ><Icon name="fa6-brands:mastodon" title="Mastodon" /></a
    >
  </li>
</ul>

<style>
  ul {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
    margin: 2rem auto 0.5rem;
    padding: 0;
    list-style: none;
  }

  li a {
    color: var(--terminal-dark);
    font-size: 1.75rem;
  }

  li a:hover {
    color: var(--fujo-pink);
  }
</style>
