---

---

<ul>
    <li><a href="https://github.com/fujowebdev/fujowebdev/"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.kickstarter.com/projects/essential-randomness/the-fujoshi-guide-to-web-development"><i class="fa-brands fa-kickstarter"></i></a></li>
    <li><a href="https://fujowebdev.tumblr.com/"><i class="fa-brands fa-tumblr"></i></a></li>
    <li><a href="https://twitter.com/fujowebdev"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="https://blorbo.social/@fujowebdev"><i class="fa-brands fa-mastodon"></i></a></li>
</ul>

<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">

<style>
    
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: 2em auto;
        padding: 0;
        list-style: none;
    }

    li a {
        color: var(--terminal-dark);
        font-size: 1.5rem;
    }

    li a:hover {
        color: var(--fujo-pink);
    }

</style>