---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import OgTags from "../components/OgTags.astro";
import Socials from "../components/Socials.astro";

interface Props {
  pageTitle?: string;
  pageDescription?: string;
  multiLineHeader?: boolean;
}

const {
  multiLineHeader,
  pageTitle = "The Fujoshi Guide to Web Development – Fully funded on Kickstarter",
  pageDescription,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <OgTags description={pageDescription} title={pageTitle} />
    <link rel="stylesheet" href="https://use.typekit.net/exd6spk.css" />
    <ViewTransitions />
    <style is:global>
      /* Handmade reset */
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /* font family here because otherwise inputs don't inherit */
        font-family: "nunito", sans-serif;
      }

      body {
        --main-width: 750px;
        --header-width: 750px;
        --fujo-cream: #f7eedf;
        --fujo-purple: #c29fc9;
        --fujo-red: #ff7976;
        --fujo-pink: #f4a8ab;
        --fujo-light-blue: #bbf7dd;
        --terminal-dark: #464258;
        --kickstarter-green: #05ce78;
        --text-color-base: #56411e;
        --text-color-disabled: #d0c4af;
        background-color: var(--fujo-cream);
        color: var(--text-color-base);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 20px;
        padding-inline: 15px;
        overflow-x: hidden;
      }

      main {
        max-width: min(100%, var(--main-width));
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        align-items: center;
      }

      h1 {
        font-family: "freude", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--fujo-red);
        font-size: 4rem;
        text-align: center;
        margin-block-start: 3rem;
        margin-block-end: 1.5rem;
        text-shadow:
          -1px -1px 0 var(--terminal-dark),
          1px -1px 0 var(--terminal-dark),
          -1px 1px 0 var(--terminal-dark),
          1px 1px 0 var(--terminal-dark);
        filter: drop-shadow(3px 1px 0px var(--terminal-dark));
      }

      h1 a {
        font-family: "freude", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--fujo-red);
        font-size: 4rem;
      }

      h1 a:hover {
        color: var(--fujo-red);
        text-decoration: 3px underline wavy;
        text-underline-offset: 5px;
      }

      h2 {
        font-family: "freude", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--fujo-light-blue);
        font-size: 2rem;
        text-shadow:
          -1px -1px 0 var(--terminal-dark),
          1px -1px 0 var(--terminal-dark),
          -1px 1px 0 var(--terminal-dark),
          1px 1px 0 var(--terminal-dark);
        margin-bottom: 8px;
        filter: drop-shadow(1px 1px 0px var(--terminal-dark));
      }

      p {
        line-height: 1.4em;
        margin-top: 1rem;
      }

      code {
        font-family: monospace;
        color: var(--fujo-red);
      }

      a {
        color: var(--fujo-red);
        font-weight: bolder;
        text-decoration: none;
      }

      a:hover {
        color: var(--fujo-pink);
        text-decoration: 1px underline wavy;
        text-underline-offset: 2px;
      }
    </style>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <script
      is:inline
      defer
      data-domain="fujoweb.dev"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <div class="learn-site-banner">
      <div class="banner-text">
        <span class="longer-text"
          >Want to learn to use a Terminal (and beyond)?&nbsp;</span
        >Find free guides at&nbsp;<a href="https://learn.fujoweb.dev/"
          >learn.fujoweb.dev</a
        >, now in beta!
      </div>
    </div>
    <Header multiLine={multiLineHeader} />
    <main>
      <slot />
      <Socials />
    </main>
    <style>
      .learn-site-banner {
        background-color: rgb(70, 66, 88);
        color: white;
        padding-block: 12px;
        padding-inline: 20px;
        width: 100vw;
        margin-top: -20px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        text-wrap: balance;
      }
      @media (max-width: 768px) {
        .learn-site-banner .longer-text {
          display: none;
        }
      }
    </style>
  </body>
</html>
